<div class="container-fluid mt-10 flex align-content-center justify-center">
  <div class="p-10 border rounded-3xl border-slate-300 quizBox m-3">
    <h1 class="text-4xl text-center basic ">Quizz Subject</h1>
    <p class="text-center text-lg"> </p>
    <h4 class="text-2xl font-bold mt-5">Quizzes</h4><br>

    <br>
    <!-- <form> -->
      <div class="flex justify-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/question">Synopsis</button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/nextLevel">Primary Source of Info</button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/next2Level">Basic Research</button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/lawQuizz">
                Simpling In RM
              </button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/citation">
                Citation
              </button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/researchEthics">
                Research Ethics
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/plagirisam">
                Plagiarism
              </button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/hypothesis">
                Hypothesis
              </button>
            </div>
            <div class="col">
              <button
                class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
                style="width:250px;" routerLink="/secondarydata">
                Secondary Data
              </button>
            </div>
          </div>

          <!-- <button
            class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
            routerLink="/question">Synopsis</button>&nbsp;&nbsp;&nbsp;
          <button
            class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
            routerLink="/nextLevel">Primary Souce of info</button>&nbsp;&nbsp;&nbsp;
          <button
            class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
            routerLink="/next2Level">Basic Research</button>&nbsp;&nbsp;&nbsp;
          <button
            class="basic1 btn  transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600 "
            routerLink="/lawQuizz">Simpling in RM</button>&nbsp; -->
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>